:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.w-100 {
    width: 100%;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.stack-interface {
    min-width: 60%;
    flex: 1;
}

.value-stack {
    overflow-y: scroll;
    height: 450px;
    border-radius: 10px;
    margin: 0em 1em 1em 1em;
    background-color: #ffffff;
}

.value-stack ol {
    list-style-position: inside;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.value-stack-element {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0.2em;
    border: solid transparent 1px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.value-stack-element.draggable-source--is-dragging {
    background-color: #ccc;
}

.right-panel {
    height: 450px;
}

.input-box {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.input-box label {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input.prefix-arg-value {
    width: 2em;
    text-align: center;
}

.notification-box-contents {
    padding: 5px;
    margin: 5px;
    border: solid #f00 2px;
    border-radius: 10px;
    background-color: #f88;
    color: #0f0f0f;
}

.notification-box-close-button {
    float: right;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.3s;
}

.notification-box-close-button:hover {
    color: #fff;
}

.input-box input {
    flex-grow: 3;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.button-panel-below-grid {
    padding-top: 1em;
}

.svg-icon {
    height: 1em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button:enabled {
  cursor: pointer;
}

button:disabled {
    color: #aaa;
    background-color: #cccccc98;
}

button:hover:enabled {
  border-color: #396cd8;
}
button:active:enabled {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

button.prefix-arg {
    padding: 0.6em 0.5em;
}

button.undo-redo {
    padding: 0.6em 0.5em;
}

input,
button {
  outline: none;
}

.mathy-text {
    font-style: italic;
}

.checkbox-container {
    position: relative;
    padding: 0.32em 0.2em 0.32em 35px;
    cursor: pointer;
    font-size: 1em;
    vertical-align: middle;
    user-select: none;
}

/* Hide the default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: border-color 0.25s;
}

.checkbox-container:hover .checkmark {
    border-color: #396cd8;
}

.checkbox-container:not(:active) input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkbox-container:active .checkmark {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

.checkbox-container:active input:checked ~ .checkmark {
  border-color: #396cf8;
  background-color: #46B6F3
}

.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* "Small screen" mode for mobile devices */
@media (max-width: 840px) {
    .value-stack {
        height: 10em;
    }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  .value-stack {
    background-color: #0f0f0f98;
  }

  .value-stack-element {
    box-shadow: 0 2px 2px rgba(192, 192, 192, 0.2);
  }

  .value-stack-element.draggable-source--is-dragging {
    background-color: #888;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active:enabled {
    background-color: #0f0f0f69;
  }

  button:disabled {
      color: #777;
      background-color: #44444498;
  }

  .checkbox-container .checkmark {
      background-color: #0f0f0f98;
  }

  .checkbox-container:not(:active) input:checked ~ .checkmark {
      background-color: #1166A3;
  }

  .checkbox-container:active .checkmark {
      border-color: #396cd8;
      background-color: #0f0f0f69;
  }

  .checkbox-container:active input:checked ~ .checkmark {
      border-color: #396cf8;
      background-color: #014673;
  }

  .checkbox-container .checkmark:after {
      border: solid black;
      border-width: 0 3px 3px 0;
  }

  .notification-box-contents {
      border: solid #900 2px;
      background-color: #800;
      color: #f6f6f6;
  }

  .notification-box-close-button:hover {
      color: #000;
  }

  .svg-icon {
      filter: invert(1);
  }
}
