:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --main-text-color: #0f0f0f;
  --main-background-color: #f6f6f6;

  color: var(--main-text-color);
  background-color: var(--main-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.stack-interface {
    min-width: 60%;
    flex: 1;
}

.value-stack {
    overflow-y: scroll;
    height: 490px;
    border-radius: 10px;
    margin: 0em 1em 1em 1em;
    background-color: #ffffff;
}

.value-stack ol {
    list-style-type: none;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.value-stack-element {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border: solid transparent 1px;
    border-radius: 10px;
    display: flex;
}

.value-stack-element-ordinal {
    vertical-align: middle;
    padding: 0.3em 0.2em;
    margin-right: 0.4em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.value-stack-element-value {
    padding: 0.3em 0.2em;
    margin-left: 0.4em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 10px 10px 0;
    display: inline-block;
    flex-grow: 1;
}

.value-stack-element.draggable-source--is-dragging {
    background-color: #ccc;
}

.value-stack-element:active {
    background-color: #ccc;
}

.right-panel {
    height: 490px;
}

.input-box {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.input-box label {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input.prefix-arg-value {
    width: 2em;
    text-align: center;
}

.notification-box-contents {
    padding: 5px;
    margin: 5px;
    border: solid #f00 2px;
    border-radius: 10px;
    background-color: #f88;
    color: #0f0f0f;
}

.notification-box-close-button {
    float: right;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.3s;
}

.notification-box-close-button:hover {
    color: #fff;
}

.input-box input {
    flex-grow: 3;
    -moz-appearance: textfield;
}

.input-box input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.button-grid-top-label {
    height: 16px;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.button-panel-below-grid {
    padding-top: 1em;
}

.svg-icon {
    height: 1em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input, button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button:enabled {
  cursor: pointer;
}

button:disabled {
    color: #aaa;
    background-color: #cccccc98;
}

button:hover:enabled {
  border-color: #396cd8;
}
button:active:enabled {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

button.prefix-arg {
    padding: 0.6em 0.5em;
}

button.undo-redo {
    padding: 0.6em 0.5em;
}

input, button {
  outline: none;
}

.mathy-text {
    font-style: italic;
    font-family: "Latin Modern Math", math;
}

.toggleable-container {
    position: relative;
    padding: 0.32em 0.2em 0.32em 35px;
    cursor: pointer;
    font-size: 1em;
    vertical-align: middle;
    user-select: none;
}

/* Hide the default checkbox/radiobox */
.toggleable-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

.toggleable-container .toggleable {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: border-color 0.25s;
}

.toggleable-container .checkmark {
    border-radius: 8px;
}

.toggleable-container .radiobox {
    border-radius: 20px;
}

.toggleable-container:hover .toggleable {
    border-color: #396cd8;
}

.toggleable-container:not(:active) input:checked ~ .toggleable {
    background-color: #2196F3;
}

.toggleable-container:active .toggleable {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

.toggleable-container:active input:checked ~ .toggleable {
  border-color: #396cf8;
  background-color: #46B6F3
}

.toggleable-container .toggleable:after {
    content: "";
    position: absolute;
    display: none;
}

.toggleable-container input:checked ~ .toggleable:after {
    display: block;
}

.toggleable-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.toggleable-container .radiobox:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.plotly-plot {
    vertical-align: middle;
}

.viewable-button-bar {
    display: flex;
    flex-direction: row;
}

.viewable-display-main {
    font-size: 1.25em;
    width: 100%;
    min-height: 10em;
    text-align: center;
}

.modeline-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.4em 1.0em;
    font-family: monospace, monospace;
    background-color: #f6f6f6;
}

.grouping-span {
    display: inline-block;
}

/* Fancy brackets */
.bracketed {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.bracketed::before, .bracketed::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
}

.bracketed::before {
    left: 0;
}

.bracketed::after {
    right: 0;
}

.bracketed--square {
    padding: 0 6px;
    margin: 0 6px;
}

.bracketed--square-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 6px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 6px;
}

.bracketed--square-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 6px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 6px;
}

.bracketed--square::before, .bracketed--square::after,
.bracketed--square-left::before, .bracketed--square-right::after {
    border: 1px solid var(--main-text-color);
    width: 6px;
}

.bracketed--square::before, .bracketed--square-left::before {
    border-right: 0;
}

.bracketed--square::after, .bracketed--square-right::after {
    border-left: 0;
}

.bracketed--vert, .bracketed--vert-left, .bracketed--vert-right {
    height: 90%;
}

.bracketed--vert {
    padding: 0 4px;
    margin: 0 2px;
}

.bracketed--vert-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
}

.bracketed--vert-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 4px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2px;
}

.bracketed--vert::before, .bracketed--vert::after,
.bracketed--vert-left::before, .bracketed--vert-right::after {
    width: 3px;
}

.bracketed--vert::before, .bracketed--vert-left::before {
    border-left: 1px solid var(--main-text-color);
}

.bracketed--vert::after, .bracketed--vert-right::after {
    border-right: 1px solid var(--main-text-color);
}

.bracketed--parens, .bracketed--parens-left, .bracketed--parens-right {
    margin: 0;
}

.bracketed--parens {
    padding: 0 4px;
}

.bracketed--parens-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
}

.bracketed--parens-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 4px;
}

.bracketed--parens::before, .bracketed--parens::after,
.bracketed--parens-left::before, .bracketed--parens-right::after {
    width: 5px;
}

.bracketed--parens::before, .bracketed--parens-left::before {
    border-top-left-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-left: 1px solid var(--main-text-color);
}

.bracketed--parens::after, .bracketed--parens-right::after {
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-right: 1px solid var(--main-text-color);
}

.matrix-table {
    padding-bottom: 2px;
    padding-top: 2px;
}

.matrix-table td {
    padding: 3px;
}

.fraction-table {
    display: inline-table;
    padding: 2px;
}

.fraction-table-numerator {
    border-bottom: 1px solid var(--main-text-color);
}

.fraction-table-numerator, .fraction-table-denominator {
    text-align: center;
}

/* "Small screen" mode for mobile devices */
@media (max-width: 840px) {
    .value-stack {
        height: 10em;
    }

    .modeline-bar {
        padding: 0.4em 0.4em;
        font-family: monospace, monospace;
    }
}

@media (prefers-color-scheme: dark) {
  :root {
      --main-text-color: #f6f6f6;
      --main-background-color: #2f2f2f;
  }

  a:hover {
      color: #24c8db;
  }

  .value-stack {
      background-color: #0f0f0f98;
  }

  .value-stack-element-value {
    box-shadow: 0 2px 2px rgba(192, 192, 192, 0.2);
  }

  .value-stack-element-ordinal {
    box-shadow: 0 2px 2px rgba(192, 192, 192, 0.2);
  }

  .value-stack-element.draggable-source--is-dragging {
      background-color: #888;
  }

  .value-stack-element:active {
      background-color: #888;
  }

  input, button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active:enabled {
    background-color: #0f0f0f69;
  }

  button:disabled {
      color: #777;
      background-color: #44444498;
  }

  .toggleable-container .toggleable {
      background-color: #0f0f0f98;
  }

  .toggleable-container:not(:active) input:checked ~ .toggleable {
      background-color: #1166A3;
  }

  .toggleable-container:active .toggleable {
      border-color: #396cd8;
      background-color: #0f0f0f69;
  }

  .toggleable-container:active input:checked ~ .toggleable {
      border-color: #396cf8;
      background-color: #014673;
  }

  .toggleable-container .checkmark:after {
      border: solid black;
      border-width: 0 3px 3px 0;
  }

  .toggleable-container .radiobox:after {
      background-color: black;
  }

  .notification-box-contents {
      border: solid #900 2px;
      background-color: #800;
      color: #f6f6f6;
  }

  .notification-box-close-button:hover {
      color: #000;
  }

  .svg-icon {
      filter: invert(1);
  }

  .plotly-plot {
      filter: invert(75%);
  }

  .plotly-interactive-plot {
      filter: invert(75%);
  }

  .modeline-bar {
      background-color: #2f2f2f;
  }
}
