:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.w-100 {
    width: 100%;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.stack-interface {
    min-width: 60%;
}

.input-box {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.input-box label {
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input.prefix-arg-value {
    width: 2em;
    text-align: center;
}

.notification-box-contents {
    padding: 5px;
    margin: 5px;
    border: solid #a00 2px;
    border-radius: 10px;
    background-color: #f00;
    color: #0f0f0f;
}

.notification-box-close-button {
    float: right;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.3s;
}

.notification-box-close-button:hover {
    color: #fff;
}

.input-box input {
    flex-grow: 3;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.prefix-arg-panel {
    padding-top: 1em;
}

.svg-icon {
    height: 1em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

button.prefix-arg {
    padding: 0.6em 0.5em;
}

input,
button {
  outline: none;
}

.mathy-text {
    font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }

  .notification-box-contents {
      border: solid #900 2px;
      background-color: #800;
      color: #f6f6f6;
  }

  .notification-box-close-button:hover {
      color: #000;
  }

  .svg-icon {
      filter: invert(1);
  }
}
