name: Clippy Style Checker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  style-checker:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Clippy
      run: |
        rustup update
        rustup component add clippy
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
    - name: Build
      run: |
        cd src-tauri
        cargo build --verbose
    - name: Run Clippy
      run: |
        cd src-tauri
        cargo clippy
